# Executables
*
!*.*
!*/
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
*.pdf
*.asm
test
